<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../normalize.css" type="text/css">
    <link rel="stylesheet" href="./carteras.css" type="text/css">
    <link rel="icon" href="./../../assets/logoArtesanaRedondo.png" type="image/x-icon">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Artesana</title>
</head>

<body>
    <div class="modalBox" id="modalBox">
        <div class="modal">
            <div class="button_close">
                <h3 onclick="close_modal()">X</h3>
            </div>
            <div class="contenido">
                <div class="img_div">
                    <img src="./../../assets/flores/tarjeta.jpg" alt="">
                </div>
                <div class="caracteristicas_div">
                    <h2>Titulo</h2>
                    <h2 class="precio_modal">Precio</h2>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae deserunt aliquam voluptatibus autem pariatur ad. Rerum quia velit, quidem ipsum animi laudantium quae eos, dolore, necessitatibus nam neque veniam aperiam!</h3>
                </div>
            </div>
        </div>
    </div>
    <nav class="navSlide" id="navSlide">
        <div class="botonNav" onclick="openAndCloseNav()">
            <img src="./../../assets/simbolo-de-lista-de-tres-elementos-con-puntos.png" alt="">
        </div>
        <div class="categoriasMenu">
            <a href="./carteras.html">Carteras</a>
            <a href="./../flores/flores.html">Flores</a>
            <a href="./../tejidosbebe/tejidosbebe.html">Tejidos de bebe</a>
           <a href="./../llaveros/llaveros.html">Llaveros</a>

            <div class="iconWaAndIn">
                <a href="https://wa.link/76fgft"> 
                    <img class="icono-enlace-nav" src="./../../assets/icono-whatsapp.png">
                </a>
                <a href="https://www.instagram.com/artesana.mcbo?igsh=NDFnMzkzM21vdTk0">                
                    <img class="icono-enlace-nav" src="./../../assets/icono-instagram.png">
                </a>
            </div>
        </div>
    </nav>
    <div class="navegador">
        <div class="menu">
            <button class="boton" onclick="openAndCloseNav()">
                <img class="imagen" src="./../../assets/simbolo-de-lista-de-tres-elementos-con-puntos.png">
            </button>
        </div>
        <a href="./../../index.html" class="cajatitulo">
            <h2 class="logotipo">ARTESANA</h2>
        </a>
        <div class="cajainvisible">
        </div>
    </div>
    <section class="cuerpoVista">
        <div class="portada">
            <h2>Carteras</h2>
            <p>Carteras, colores, accesorios. Todos los diseños están hechos en trapillo en
                diferentes colores y herrajes de acero inoxidable.</p>
        </div>
        <div class="botonColores">
            <button onclick="navOpenAndClose()">Ver colores disponibles</button>
        </div>
        <div class="coloresCarteras" id="coloresCarteras">
            <div>
                <img src="./../../assets/coloresTrapillo/azulRey.jpeg" alt="">
                <p>Azul Rey</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/azul.jpeg" alt="">
                <p>Azul</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/azulElectrico.jpeg" alt="">
                <p>Azul Electrico</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/celeste.jpeg" alt="">
                <p>Celeste</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/beige.jpeg" alt="">
                <p>Beige</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/marron.jpeg" alt="">
                <p>Marron</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/canela.jpeg" alt="">
                <p>Canela</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/gris.jpeg" alt="">
                <p>Gris</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/negro.jpeg" alt="">
                <p>Negro</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/blanco.jpeg" alt="">
                <p>Blanco</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/rosaVieja.jpeg" alt="">
                <p>Rosa Vieja</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/rojoVino.jpeg" alt="">
                <p>Rojo vino</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/rojo.jpeg" alt="">
                <p>Rojo</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/cereza.jpeg" alt="">
                <p>Cereza</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/verdeOscuro.jpeg" alt="">
                <p>Verde Oscuro</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/verde.jpeg" alt="">
                <p>Verde</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/lila.jpeg" alt="">
                <p>Lila</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/morado.jpeg" alt="">
                <p>Moradp</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/melocoton.jpeg" alt="">
                <p>Melocoton</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/rosadoSalmon.jpeg" alt="">
                <p>Salmon</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/rosaElectrico.jpeg" alt="">
                <p>Rosado Electrico</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/fucsia.jpeg" alt="">
                <p>Fucsia</p>
            </div>
        </div>
        <div class="botones" id="botones"></div>
        <div class="catalogoCarteras" id="Carteras"></div>
        <div class="catalogoCarteras" id="Accesorios"></div>
        <div class="catalogoCarteras" id="Stock"></div>
    </section>
    <footer class="piedepagina">
        <div class="contenidofooter">
            <h2 class="logotipo footertitle">ARTESANA</h2>
            <div class="linea"></div>
            <ul>
                <li>
                    <a href="https://wa.link/76fgft">
                        <img class="icono-enlace" src="./../../assets/icono-whatsapp.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/artesana.mcbo?igsh=NDFnMzkzM21vdTk0">
                        <img class="icono-enlace" src="./../../assets/icono-instagram.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
<script src="./carteras.js"> </script>

</html>