<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../normalize.css" type="text/css">
    <link rel="stylesheet" href="./carteras.css" type="text/css">
    <title>Carteras</title>
</head>
<body>
    <nav class="navegador">
        <div class="menu">
            <button class="boton">
                <img class="imagen" src="./../../assets/simbolo-de-lista-de-tres-elementos-con-puntos.png">
            </button>
        </div>
        <a href="./../../index.html" class="cajatitulo">
            <h2 class="logotipo">ARTESANA</h2>
        </a>
        <div class="cajainvisible">
        </div>
    </nav>
    <section class="cuerpoVista">
        <div class="portada">
            <h2>Carteras</h2>
            <p>Carteras, colores, accesorios. Todos los diseños están hechos en trapillo en 
                diferentes colores y herrajes de acero inoxidable.</p>
        </div>
        <div class="botonColores">
            <button onclick="navOpenAndClose()">Ver colores disponibles</button>
        </div>
        <div class="coloresCarteras" id="coloresCarteras">
            <img src="./../../assets/coloresTrapillo/colorAzul.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorCielo.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorGris.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorCian.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorFucsia.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorHueso.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorMagenta.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorMelocoton.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorMora.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorNegro.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorNieve.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorOliva.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorPistacho.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorRosavieja.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorTurquesa.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorVino.jpg" alt="">
            <img src="./../../assets/coloresTrapillo/colorAzulrey.jpg" alt="">
        </div>
       <div class="botones">
            <button>Carteras</button>
            <button>Accesorios</button>
       </div>
       <div class="catalogoCarteras">
                <div class="tarjeta">
                    <img src="./../../assets/laylaBag.jpeg" alt="">
                    <h3>Layla</h3>
                    <h3>40$</h3>
                </div>
                <div class="tarjeta">
                    <img src="./../../assets/jazminBag.jpeg" alt="">
                    <h3>Jazmin</h3>
                    <h3>40$</h3>
                </div>
                <div class="tarjeta">
                    <img src="./../../assets/bolso marwa.jpg" alt="">
                    <h3>Rawya</h3>
                    <h3>55$</h3>
                </div>
                <div class="tarjeta">
                    <img src="./../../assets/amiraBag.jpeg" alt="">
                    <h3>Amira</h3>
                    <h3>60$</h3>
                </div>
                <div class="tarjeta">
                    <img src="./../../assets/aidaBag.jpeg" alt="">
                    <h3>Aida</h3>
                    <h3>55$</h3>
                </div>
                <div class="tarjeta">
                    <img src="./../../assets/saraBag.jpeg" alt="">
                    <h3>Sara</h3>
                    <h3>35$</h3>
                </div>
                <div class="tarjeta">
                    <img src="./../../assets/hibaBag.jpeg" alt="">
                    <h3>Hiba</h3>
                    <h3>50$</h3>
                </div>
                <div class="tarjeta">
                    <img src="./../../assets/nourBag.jpeg" alt="">
                    <h3>Nour</h3>
                    <h3>35$</h3>
                </div>
                <div class="tarjeta">
                    <img src="./../../assets/metalizadoBag.jpeg" alt="">
                    <h3>Nour</h3>
                    <h3>75$</h3>
                </div>
       </div>
    </section>
    <footer class="piedepagina">
        <div class="contenidofooter">
            <h2 class="logotipo footertitle">ARTESANA</h2>
            <div class="linea"></div>
        <ul>
            <li>
                <a href="https://wa.link/76fgft"> 
                    <img class="icono-enlace" src="./../../assets/icono-whatsapp.png">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/artesana.mcbo?igsh=NDFnMzkzM21vdTk0">                
                    <img class="icono-enlace" src="./../../assets/icono-instagram.png">
                </a>
            </li>
        </ul>
        </div>
    </footer>
</body>
<script src="./carteras.js"> </script>
</html>