<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../normalize.css" type="text/css">
    <link rel="stylesheet" href="./temporada.css" type="text/css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="icon" href="./../../assets/logoArtesanaRedondo.png" type="image/x-icon">
    <title>Artesana</title>
</head>

<body>
          <nav-slide></nav-slide>

    <div class="container">
        <div class="snow little"></div>
        <div class="snow normal"></div>
    </div>


    <section class="cuerpoVista">
        <div class="portada">
            <h2>Catalogo de navidad</h2>
            <p>Conoce nuestros tejidos para esta temporada, tenemos opciones para
                ambientar tu hogar y para regalar a tus seres queridos</p>
                <p>Todos nuestros tejidos se entregan en empaque navideño ideal para regalar</p>
        </div>
        <div class="botones">
            <button onclick="apearAndDesapper('posaPlatos', 'llaveros','flores', 'ornamentos', 'stock' )">Accesorios de
                comedor</button>
            <button
                onclick="apearAndDesapper('llaveros', 'posaPlatos', 'flores', 'ornamentos', 'stock')">LLaveros</button>
            <button
                onclick="apearAndDesapper('flores', 'posaPlatos', 'llaveros', 'ornamentos', 'stock')">Flores</button>
            <button
                onclick="apearAndDesapper('ornamentos', 'posaPlatos', 'llaveros', 'flores', 'stock')">Ornamentos y decoraciones</button>
            <button onclick="apearAndDesapper('stock', 'posaPlatos', 'llaveros', 'flores', 'ornamentos')">Stock</button>
        </div>

        <div class="catalogoCarteras" id="posaPlatos">
            <div class="tarjeta">
                <img src="./../../assets/navidad/accesoriosComedor/individualGalleta.jpeg" alt="">
                <h3>Posa platos galleta de jengibre</h3>
                <h2>Cada pieza 15$</h2>
                <h2>A partir de 6 piezas 14$ c/u</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/accesoriosComedor/individualBambalina.jpeg" alt="">
                <h3>Posa platos Bambalina</h3>
                <h2>Cada pieza 15$</h2>
                <h2>A partir de 6 piezas 14$ c/u</h2>
            </div>
            
        <div class="catalogoCarteras" id="llaveros">
            <div class="tarjeta">
                <img src="./../../assets/navidad/llaveros/llaveroCorazon.jpeg" alt="">
                <h3>llavero corazon</h3>
                <h2>Llavero sin acrilico 4,5$ c/u<br>
                    Llavero con acrilico dorado y frase "feliz navidad" 5,5$ c/u<br>
                </h2>
                <h2>Adicional mini cascabel 0,5$</h2>
            </div>
            
        <div class="catalogoCarteras" id="flores">
            <div class="tarjeta">
                <img src="./../../assets/navidad/flores/corazonLuminoso.jpeg" alt="">
                <h3>Corazon en maceta con luces de hadas led </h3>
                <h2>cuenta con 37 flores tejidas y mide 20cm de alto <br>
                Pidelo en la combinacion de colores que desees</h2>
                <h2>20$</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/flores/bouquetTulipanIndividual.jpeg" alt="">
                <h3>Bouquet tulipan individual </h3>
                <h2>puedes personalizar el color y cantidad de flores en el ramo</h2>
                <h2>5$</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/flores/bouquet3rosas.jpeg" alt="">
                <h3>Bouquet 3 rosas</h3>
                <h2>puedes personalizar el color y cantidad de flores en el ramo</h2>
                <h2>24$</h2>
            </div>
        </div>
        <div class="catalogoCarteras" id="ornamentos">
            <div class="tarjeta">
                <img src="./../../assets/navidad/ornamentosDeco/ornamentoBambalina.jpeg" alt="">
                <h3>Bambalina</h3>
                <h2>Adorno para arbol</h2>
                <h2>5$ c/u</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/ornamentosDeco/ornamentoCorona.jpeg" alt="">
                <h3>Corona</h3>
                <h2>Adorno para arbol</h2>
                <h2>6$ c/u</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/ornamentosDeco/decoracionArbolCono.jpeg" alt="">
                <h3>Arbol decorativo con luces</h3>
                <h2>20cm de alto 14$</h2>
                <h2>30cm de alto 17$</h2>
                <h3>incluyen luces, pidelo del color que desees</h3>
            </div>
           
            <div class="tarjeta">
                <img src="./../../assets/navidad/ornamentosDeco/decoracionAcrilico.jpeg" alt="">
                <h3>Acrilico decorativo con corazones tejidos</h3>
                <h2>pidelo con los colores y frase que desees como "feliz navidad"
                    <br>mide 20cm
                </h2>
                <h2>Con una palabra 35$ <br>
                    Con dos palabras 40$</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/flores/corazonLuminoso.jpeg" alt="">
                <h3>Corazon en maceta con luces de hadas led </h3>
                <h2>Es un regalo muy lindo, cuenta con 37 flores tejidas y mide 20cm de alto <br>
                Pidelo en la combinacion de colores que desees</h2>
                <h2>20$</h2>
            </div>
        </div>
        <div class="catalogoCarteras" id="stock">
            <div class="tarjeta">
                <img src="./../../assets/navidad/flores/corazonLuminoso.jpeg" alt="">
                <h3>Corazon en maceta con luces de hadas led </h3>
                <h2>cuenta con 37 flores tejidas y mide 20cm de alto <br>
                Pidelo en la combinacion de colores que desees</h2>
                <h2>20$</h2>
            </div>
        </div>
    </section>
    <footer class="piedepagina">
        <div class="contenidofooter">
            <h2 class="logotipo footertitle">ARTESANA</h2>
            <div class="linea"></div>
            <ul>
                <li>
                    <a href="https://wa.link/76fgft">
                        <img class="icono-enlace" src="./../../assets/icono-whatsapp.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/artesana.mcbo?igsh=NDFnMzkzM21vdTk0">
                        <img class="icono-enlace" src="./../../assets/icono-instagram.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
<script src="./temporada.js"> </script>
<script src="./../../components-js/navegador/nav-slide.js"></script>

</html>