<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../normalize.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close" />
    <link rel="stylesheet" href="./temporada.css" type="text/css">
    <link rel="icon" href="./../../assets/logoArtesanaRedondo.png" type="image/x-icon">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Artesana</title>
</head>
<body>
    <nav-slide></nav-slide>
    <section class="cuerpoVista">
        <div class="portada">
            <h2>Catalogo de San Valentin</h2>
            <p>Conoce nuestros tejidos para esta temporada y aprovecha los productos con precios especiales por preventa antes del 5 de febrero</p>
                <br>Por favor realiza tu pedido con al menos 3 dias de anticipacion<br>
                <br>Todos los ramos se pueden personalizar con la cantidad de flores y colores que desees <br>
                <br>Para confirmar tu pedido y poder empezar a tejerlo debes hacer el pago del 50% adelantado, no hacemos devoluciones de dinero <br>
        </div>
        <div class="botones" id="botones"></div>
       <div class="catalogoFlores" id="Tejidos"></div>
    </section>
    <footer-costume></footer-costume>
</body>
<script src="./temporada.js"></script>
<script src="./../../components-js/navegador/nav-slide.js"></script>
<script src="./../../components-js/footer/footer.js"></script>
</html>
