<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../normalize.css" type="text/css">
    <link rel="stylesheet" href="./temporada.css" type="text/css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>CATALOGO NAVIDAD</title>
</head>

<body>
    <nav class="navSlide" id="navSlide">
        <div class="botonNav" onclick="openAndCloseNav()">
            <img src="./../../assets/simbolo-de-lista-de-tres-elementos-con-puntos.png" alt="">
        </div>
        <div class="categoriasMenu">
            <a href="./../carteras/carteras.html">Carteras</a>
            <a href="./../flores/flores.html">Flores</a>
            <a href="./../forros-de-laptop/forros-de-laptop.html">Forros de laptop</a>
            <a href="./../temporada/temporada.html">Catalogo Navidad</a>
            <div class="iconWaAndIn">
                <a href="https://wa.link/76fgft"> 
                    <img class="icono-enlace-nav" src="./../../assets/icono-whatsapp.png">
                </a>
                <a href="https://www.instagram.com/artesana.mcbo?igsh=NDFnMzkzM21vdTk0">                
                    <img class="icono-enlace-nav" src="./../../assets/icono-instagram.png">
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="snow little"></div>
        <div class="snow normal"></div>
    </div>
    <div class="navegador">
        <div class="menu">
            <button class="boton" onclick="openAndCloseNav()">
                <img class="imagen" src="./../../assets/lista tres puntos blanco.png">
            </button>
        </div>
        <a href="./../../index.html" class="cajatitulo">
            <h2 class="logotipo">ARTESANA</h2>
        </a>
        <div class="cajainvisible">
        </div>
    </div>

    <section class="cuerpoVista">
        <div class="portada">
            <h2>Catalogo de navidad</h2>
            <p>Conoce nuestros tejidos para esta temporada, tenemos opciones para
                ambientar tu hogar y para regalar a tus seres queridos</p>
        </div>
        <div class="botones">
            <button onclick="apearAndDesapper('posaPlatos', 'llaveros','flores', 'ornamentos', 'stock' )">Accesorios de
                comedor</button>
            <button
                onclick="apearAndDesapper('llaveros', 'posaPlatos', 'flores', 'ornamentos', 'stock')">LLaveros</button>
            <button
                onclick="apearAndDesapper('flores', 'posaPlatos', 'llaveros', 'ornamentos', 'stock')">Flores</button>
            <button
                onclick="apearAndDesapper('ornamentos', 'posaPlatos', 'llaveros', 'flores', 'stock')">Ornamentos y decoraciones</button>
            <button onclick="apearAndDesapper('stock', 'posaPlatos', 'llaveros', 'flores', 'ornamentos')">Stock</button>
        </div>

        <div class="catalogoCarteras" id="posaPlatos">
            <div class="tarjeta">
                <img src="./../../assets/navidad/accesoriosComedor/individualGalleta.jpeg" alt="">
                <h3>Posa platos galleta de jengibre</h3>
                <h2>Cada pieza 17$</h2>
                <h2>A partir de 6 piezas 16$ c/u</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/accesoriosComedor/individualBambalina.jpeg" alt="">
                <h3>Posa platos Bambalina</h3>
                <h2>Cada pieza 17$</h2>
                <h2>A partir de 6 piezas 16$ c/u</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/accesoriosComedor/individualSantaClaus.jpeg" alt="">
                <h3>Posa platos Santa Claus</h3>
                <h2>Cada pieza 18$</h2>
                <h2>A partir de 6 piezas 17$ c/u</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/accesoriosComedor/individualDorado.jpeg" alt="">
                <h3>Posa platos con detalles dorados</h3>
                <h2>Cada pieza 24$</h2>
                <h2>A partir de 6 piezas 23$ c/u</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/accesoriosComedor/posaVasoBambalina.jpeg" alt="">
                <h3>Posa vasos bambalina</h3>
                <h2>Cada pieza 5$</h2>
                <h2>A partir de 6 piezas 4,5$ c/u</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/accesoriosComedor/posaVasoCopoNieve.jpeg" alt="">
                <h3>Posa platos copo de nieve</h3>
                <h2>Cada pieza 5$</h2>
                <h2>A partir de 6 piezas 4,5$ c/u</h2>
            </div>
        </div>
        <div class="catalogoCarteras" id="llaveros">
            <div class="tarjeta">
                <img src="./../../assets/navidad/llaveros/llaveroCorazon.jpeg" alt="">
                <h3>llavero corazon</h3>
                <h2>Llavero sin acrilico 4,5$ c/u<br>
                    Llavero con acrilico de arbolito y frase "feliz navidad" 5,5$ c/u<br>
                </h2>
                <h2>Adicional mini cascabel 0,5$</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/llaveros/llaveroEstrella.jpeg" alt="">
                <h3>llavero estrella</h3>
                <h2>Llavero sin acrilico 4,5$ c/u<br>
                    Llavero con acrilico de circulo y palabra "fe" 5,5$ c/u<br>
                </h2>
                <h2>Adicional mini cascabel 0,5$</h2>
            </div>
        </div>
        <div class="catalogoCarteras" id="flores">
            <div class="tarjeta">
                <img src="./../../assets/navidad/flores/corazonLuminoso.jpeg" alt="">
                <h3>Corazon en maceta con luces de hadas led </h3>
                <h2>cuenta con 37 flores tejidas y mide 20cm de alto <br>
                Pidelo en la combinacion de colores que desees</h2>
                <h2>20$</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/flores/bouquetTulipanIndividual.jpeg" alt="">
                <h3>Bouquet tulipan individual </h3>
                <h2>puedes personalizar el color y cantidad de flores en el ramo</h2>
                <h2>5$</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/flores/bouquet3rosas.jpeg" alt="">
                <h3>Bouquet 3 rosas</h3>
                <h2>puedes personalizar el color y cantidad de flores en el ramo</h2>
                <h2>24$</h2>
            </div>
        </div>
        <div class="catalogoCarteras" id="ornamentos">
            <div class="tarjeta">
                <img src="./../../assets/navidad/ornamentosDeco/ornamentoBambalina.jpeg" alt="">
                <h3>Bambalina</h3>
                <h2>Adorno para arbol</h2>
                <h2>5$ c/u</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/ornamentosDeco/ornamentoCorona.jpeg" alt="">
                <h3>Corona</h3>
                <h2>Adorno para arbol</h2>
                <h2>5$ c/u</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/ornamentosDeco/decoracionArbolLuminoso.jpeg" alt="">
                <h3>Arbol decorativo con luces</h3>
                <h2>mide aprox. 15cm, incluye luces de hadas led</h2>
                <h2>16$</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/ornamentosDeco/decoracionAcrilico.jpeg" alt="">
                <h3>Acrilico decorativo con corazones tejidos</h3>
                <h2>pidelo con los colores y frase que desees como "feliz navidad"
                    <br>mide 20cm
                </h2>
                <h2>Con una palabra 35$ <br>
                    Con dos palabras 40$</h2>
            </div>
            <div class="tarjeta">
                <img src="./../../assets/navidad/flores/corazonLuminoso.jpeg" alt="">
                <h3>Corazon en maceta con luces de hadas led </h3>
                <h2>cuenta con 37 flores tejidas y mide 20cm de alto <br>
                Pidelo en la combinacion de colores que desees</h2>
                <h2>20$</h2>
            </div>
        </div>
        <div class="catalogoCarteras" id="stock">
            <div class="tarjeta">
                <img src="./../../assets/navidad/flores/corazonLuminoso.jpeg" alt="">
                <h3>Corazon en maceta con luces de hadas led </h3>
                <h2>cuenta con 37 flores tejidas y mide 20cm de alto <br>
                Pidelo en la combinacion de colores que desees</h2>
                <h2>20$</h2>
            </div>
        </div>
    </section>
    <footer class="piedepagina">
        <div class="contenidofooter">
            <h2 class="logotipo footertitle">ARTESANA</h2>
            <div class="linea"></div>
            <ul>
                <li>
                    <a href="https://wa.link/76fgft">
                        <img class="icono-enlace" src="./../../assets/icono-whatsapp.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/artesana.mcbo?igsh=NDFnMzkzM21vdTk0">
                        <img class="icono-enlace" src="./../../assets/icono-instagram.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
<script src="./temporada.js"> </script>
</html>