<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../normalize.css" type="text/css">
    <link rel="stylesheet" href="./forros-de-laptop.css" type="text/css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Forros de laptop</title>
</head>

<body>
    <nav class="navSlide" id="navSlide">
        <div class="botonNav" onclick="openAndCloseNav()">
            <img src="./../../assets/simbolo-de-lista-de-tres-elementos-con-puntos.png" alt="">
        </div>
        <div class="categoriasMenu">
            <a href="./components/carteras/carteras.html">Carteras</a>
            <a href="./components/flores/flores.html">Flores</a>
            <a href="./components/forros-de-laptop/forros-de-laptop.html">Forros de laptop</a>
            <a id="Navidad" href="./../temporada/temporada.html">Catalogo de navidad</a>
            <!-- Cambiar la ruta del href  -->
            <a  id="Ramadan" href="">Ramadan</a>
            <!-- Cambiar la ruta del href  -->
            <a id="SanValentin" href="">San Valentín</a>
            <!-- Cambiar la ruta del href  -->
            <a id="DiaMadres" href="">Día de las madres</a>
            <!-- Cambiar la ruta del href  -->
            <a id="DiaMujeres" href="">Día de la mujeres</a>
            <!-- Cambiar la ruta del href  -->
            <a id="DiaFloresAmarrillas" href="">Día de las flores amarillas</a>
            <a href="https://wa.link/76fgft"> 
                <img class="icono-enlace-nav" src="./../../assets/icono-whatsapp.png">
            </a>
            <a href="https://www.instagram.com/artesana.mcbo?igsh=NDFnMzkzM21vdTk0">                
                <img class="icono-enlace-nav" src="./../../assets/icono-instagram">
            </a>
        </div>
    </nav>
    <div class="navegador">
        <div class="menu">
            <button class="boton" onclick="openAndCloseNav()">
                <img class="imagen" src="./../../assets/simbolo-de-lista-de-tres-elementos-con-puntos.png">
            </button>
        </div>
        <a href="./../../index.html" class="cajatitulo">
            <h2 class="logotipo">ARTESANA</h2>
        </a>
        <div class="cajainvisible">
        </div>
    </div>
    <section class="cuerpoVista">
        <div class="portada">
            <h2>Forros de laptop</h2>
            <p>¿Como comprar tu forro para laptop? <br><br>
            - Elige uno o dos colores disponibles <br><br>
            - Mide tu dispositivo (laptop o tablet) <br><br>
            - Escribenos por DM o WhatsApp y con gusto te ayudaremos a confirmar tu pedido <br><br>
            Puedes encargar un forro para cualquier otro objeto o dispositivo como camaras o agendas
        </p>
        </div>
        <div class="botonColores">
            <button onclick="navOpenAndClose()">Ver colores disponibles</button>
        </div>
        <div class="coloresCarteras" id="coloresCarteras">
            <div>
                <img src="./../../assets/coloresTrapillo/azulrey.jpeg" alt="">
                <p>Azul rey</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/azul.jpeg" alt="">
                <p>Azul</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/cian.jpeg" alt="">
                <p>Cian</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/celeste.jpeg" alt="">
                <p>Celeste</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/beige.jpeg" alt="">
                <p>Beige</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/marron.jpeg" alt="">
                <p>Marron</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/canela.jpeg" alt="">
                <p>Canela</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/gris.jpeg" alt="">
                <p>Gris</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/negro.jpeg" alt="">
                <p>Negro</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/blanco.jpeg" alt="">
                <p>Blanco</p>
            </div>
            <div>
                <img src="./../../assets/coloresTrapillo/rosaVieja.jpeg" alt="">
                <p>Rosa Vieja</p>
            </div>
        </div>
        <div class="catalogoCarteras">
            <div class="tarjeta">
                <img src="./../../assets/forrosLaptop/forroLaptop.jpeg" alt="">
                <h3>Forro para laptop o Ipad</h3>
                <h3>35$</h3>
            </div>
        </div>
    </section>
    <footer class="piedepagina">
        <div class="contenidofooter">
            <h2 class="logotipo footertitle">ARTESANA</h2>
            <div class="linea"></div>
            <ul>
                <li>
                    <a href="https://wa.link/76fgft">
                        <img class="icono-enlace" src="./../../assets/icono-whatsapp.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/artesana.mcbo?igsh=NDFnMzkzM21vdTk0">
                        <img class="icono-enlace" src="./../../assets/icono-instagram.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
<script src="./forros-de-laptop.js"> </script>

</html>