<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../normalize.css" type="text/css">
    <link rel="stylesheet" href="./forros-de-laptop.css" type="text/css">
    <title>Forros de laptop</title>
</head>

<body>
    <nav class="navSlide" id="navSlide">
        <div class="botonNav" onclick="openAndCloseNav()">
            <img src="./../../assets/simbolo-de-lista-de-tres-elementos-con-puntos.png" alt="">
        </div>
        <div class="categoriasMenu">
            <a href="./components/carteras/carteras.html">Carteras</a>
            <a href="./components/flores/flores.html">Flores</a>
            <a href="./components/forros-de-laptop/forros-de-laptop.html">Forros de laptop</a>
        </div>
    </nav>
    <div class="navegador">
        <div class="menu">
            <button class="boton" onclick="openAndCloseNav()">
                <img class="imagen" src="./../../assets/simbolo-de-lista-de-tres-elementos-con-puntos.png">
            </button>
        </div>
        <a href="./../../index.html" class="cajatitulo">
            <h2 class="logotipo">ARTESANA</h2>
        </a>
        <div class="cajainvisible">
        </div>
    </div>
    <section class="cuerpoVista">
        <div class="portada">
            <h2>Forros de laptop</h2>
            <p>¿Como comprar tu forro para laptop? <br><br>
            - Elige de dos a tres colores disponibles <br><br>
            - Mide tu dispositivo (laptop o tablet) <br><br>
            - Escribenos por DM o WhatsApp y con gusto te ayudaremos a confirmar tu pedido
        </p>
        </div>
        <div class="botonColores">
            <button onclick="navOpenAndClose()">Ver colores disponibles</button>
        </div>
        <div class="coloresCarteras" id="coloresCarteras">
            <img src="./../../assets/coloresTrapillo2/colorAzul.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorCielo.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorGris.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorCian.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorFucsia.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorHueso.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorMagenta.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorMelocoton.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorMora.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorNegro.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorNieve.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorOliva.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorPistacho.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorRosavieja.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorTurquesa.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorVino.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorAzulrey.bmp" alt="">
            <img src="./../../assets/coloresTrapillo2/colorMarron.bmp" alt="">
        </div>
            





















    </section>
    <footer class="piedepagina">
        <div class="contenidofooter">
            <h2 class="logotipo footertitle">ARTESANA</h2>
            <div class="linea"></div>
            <ul>
                <li>
                    <a href="https://wa.link/76fgft">
                        <img class="icono-enlace" src="./../../assets/icono-whatsapp.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/artesana.mcbo?igsh=NDFnMzkzM21vdTk0">
                        <img class="icono-enlace" src="./../../assets/icono-instagram.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
<script src="./carteras.js"> </script>

</html>