<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../../normalize.css" type="text/css">
        <link rel="stylesheet" href="./flores.css" type="text/css">
        <title>Flores tejidas</title>
    </head>
    <body>
        <nav class="navegador">
            <div class="menu">
                <button class="boton">
                    <img class="imagen" src="./../../assets/simbolo-de-lista-de-tres-elementos-con-puntos.png">
                </button>
            </div>
            <a href="./../../index.html" class="cajatitulo">
                <h2 class="logotipo">ARTESANA</h2>
            </a>
            <div class="cajainvisible">
            </div>
        </nav>
        <section class="cuerpoVista">
            <div class="portada">
                <h2>Flores tejidas</h2>
                <p>En nuestra coleccion de flores eternas, encontraras piezas unicas tejidas
                    a crochet que capturan la belleza sin marchitarse. Son perfectas para decorar tu espacio o para
                    regalar algo especial que dure para siempre. Cada flor es hecha con cuidado y detalle, asegurando
                    que llevaras un producto de calidad que no encontraras en ningun otro lugar. <br><br>Por favor 
                    realiza tu pedido con al menos 4 dias de anticipacion<br> <br>Todos los
                    ramos se pueden personalizar con la cantidad de flores y colores que desees <br> <br>  Los bouquets
                    funcionan de la siguiente manera:
                </p>
                <ul>
                    <li>A partir de 3 tulipanes, cada tulipan adicional costara 3.5 dolares</li>
                    <li>A partir de 3 claveles, cada clavel adicional costara 4.5 dolares</li>
                </ul>
            </div>
            <div>
            </div>
            <div class="botones">
                <button>Ver colores disponibles</button>
           </div>
            <!--hacer caja de texto para decir que los ramos de flores se pueden personalizar-->
            <div class="catalogoFlores">
                <div class="tarjeta">
                    <img src="./../../assets/bouquetTresFlores.jpeg" alt="">
                    <h3>Bouquet de 3 tulipanes</h3>
                    <h3>11$</h3>
                </div>
                <div class="tarjeta">
                    <img src="./../../assets/bouquetTresFlores.jpeg" alt="">
                    <h3>Bouquet de 3 tulipanes</h3>
                    <h3>11$</h3>
                </div>
                <div class="tarjeta">
                    <img src="./../../assets/bouquetTresFlores.jpeg" alt="">
                    <h3>Bouquet de 3 tulipanes</h3>
                    <h3>11$</h3>
                </div>
            </div>
        </section>
        <footer class="piedepagina">
            <div class="contenidofooter">
                <h2 class="logotipo footertitle">ARTESANA</h2>
                <div class="linea"></div>
                <ul>
                    <li>
                        <a href="https://wa.link/76fgft">
                            <img class="icono-enlace" src="./../../assets/icono-whatsapp.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/artesana.mcbo?igsh=NDFnMzkzM21vdTk0">
                            <img class="icono-enlace" src="./../../assets/icono-instagram.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
    <script src="./flores.js"></script>
</html>